body{
	margin:0;
	box-sizing:border-box; 
}
.container{
	height: 100vh;
	width: 100%;
	background-image:linear-gradient(rgba(4,9,25,0.7),rgba(4,9,25,0.7)),url(images/laptop.jpg);
	background-size: cover;
}
.header{
	width: 200px;
	border-radius: 50%;

}
nav
{	display: flex;
	width: 100%;
	align-items: center;
	flex-wrap: wrap;
	padding: 5px 0;

}
nav ul{
	flex:1;
	text-align: right;
	padding: 30px;
	margin-right: 30px;
}
nav ul li{
	list-style: none;
	display: inline-block;
	padding: 5px;
	font-family: arial ;
	transition:1s ease-in-out;
	margin: 10px 20px;
}
nav ul li a{
	text-decoration: none;
	color:#fff;
	transition: 0.5s ease-in-out;
	position: relative;
}
nav ul li a::after{
	content: '';
	width: 0;
	height: 3px;
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
	background:#fff;
	transition: width 0.3s;
}
nav ul li a:hover::after {
	width: 90%;
}

.Name{
	
    font-family:'poppins', sans-serif;
	letter-spacing: 5px;
	font-size:70px;
	font-weight: bold;
	margin-left:100px;
	margin-top: 200px;
	animation: type 4s steps(19);
	overflow: hidden;
	white-space: nowrap;
	border-right: 4px solid white;
	width: 19ch;

}
@keyframes type {

	0%{
		width: 0ch;
	
	}
	100%{
		width: 19ch;
	}
}
.dis{ 
	margin-top: -50px;
	font-family:arial;
	letter-spacing: 3px;
	font-size:18px;
	color:lightgray;
	margin-left: 100px;

}

.btn{
	margin-left: 100px;
	width: 200px;
	height: 50px;
	border:2px solid red;
	background: transparent;
	color: red;
	border-radius:5px;
	cursor: pointer;
}
.btn a{
	text-decoration:none;
	color: #fff;
	transition: ease-in-out;
	font-size: 20px;
	font-family: Malgun Gothic;


}
.btn:hover{
	background: red;
	border-color: darkred;
	transition: 0.9s ease-in-out;

}
.icons{
	position: absolute;
	right: 5%;
	bottom: 6%;
	display: flex;
}
.icons img{
	width: 25px;
	margin: 25px 5px;
}
.about{
	
	height: 100vh;
	width: 100%;
}
.me{
	padding-left: 74px;
	
}


.abt{
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 10px;
	border: 5px solid skyblue;
	padding-top: 25px;
	padding-left: 15px;
	padding-right: 5px;
	padding-bottom: 30px;
	width:400px;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
	margin-left: 400px;
	margin-top: -190px;
}
.abt:hover{
	transition: 0.5s ease-in-out;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
}
.abtname{
	margin-left: 70px;
}
.abtme{
	font-family:  Malgun Gothic;
	font-size: 30px;
	margin-left: 80px;
	 

}
.abtdis{
	font-family:  Malgun Gothic;
	font-size: 18px;
	margin-left: 10px;
	margin-left: 80px; 
	color: gray;
	margin-top: -25px;
	padding-top: 30px;
	padding-right: 10px;
}
.hrme{
	margin-left: 100px;
	width: 150px;
	height: 50px;
	border:2px solid skyblue;
	background: transparent;
	color: black;
	border-radius:5px;
	margin-top: 150px; 


}
.hrme a{
	text-decoration:none;
	color: gray;
	transition: ease-in-out;
	font-size: 15px;
	font-family: Malgun Gothic;

}
.hrme:hover{
	background: skyblue;
	border-color: black;
	transition: 0.9s ease-in-out;
	cursor: pointer;
}
.cv{
	margin-left: 100px;
	width: 150px;
	height: 50px;
	border:2px solid skyblue;
	background: transparent;
	color: black;
	border-radius:5px;
	margin-top: 150px;



}
.cv a{
	text-decoration:none;
	color: gray;
	transition: ease-in-out;
	font-size: 15px;
	font-family: Malgun Gothic;

}
.cv:hover{
	background:  skyblue;
	border-color:black;
	transition: 0.9s ease-in-out;
	cursor: pointer;
}
.abt h3{
	font-family:Malgun Gothic;
	padding-left: 8px; 
}
.abtexp{
	color: gray;
	font-family:Malgun Gothic; 
	padding-left: 20px;
	margin-left: 60px;
	margin-top: -20px;
}
.aboutimg{
	margin-top: 50px;
	margin-left: 100px;
	border: 10px solid skyblue;
	border-left: none;
	border-top:none; 
	background-size: cover;
}
.services{
	width: 100%;

}
.srvc{
	font-family:  Malgun Gothic;
	font-size: 30px;
	margin-left: 80px; 
}

.row{
	justify-content: space-between;
	display: flex;
	padding-top: 20px;
	padding-left: 100px;

}
.srcsub{
	color: gray;
	font-family:Malgun Gothic; 
	padding-left: 20px;
	margin-left: 60px;
	margin-top: -20px;
}
.work h2{
	color: skyblue;

}
.work{
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 5px;
	margin-right: 200px;
	width:400px;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.work:hover{
	transition: 0.5s ease-in-out;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
}
.wrkdis{
	color: gray;
	font-family:Malgun Gothic; 
}
.wrkimg{
	padding-top: 15px;
}

.cntrow{
	display: flex;
}
.cnt{
	font-family:  Malgun Gothic;
	font-size: 30px;
	margin-left: 80px; 
	margin-top: 100px;

}
.cntsub{
	font-family:  Malgun Gothic;
	font-size: 18px;
	margin-left: 20px;
	margin-left: 80px; 
	color: gray;
	margin-top: -25px;
}
.cntme{
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 5px;
	width:300px;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
	margin-left: 80px;
	margin-bottom: 100px;
	text-align: center;
}
.cntme a{
	text-decoration: none;
}
.cdis{
	font-family:  Malgun Gothic;
	font-size: 18px;
	color: blue;
	padding-bottom: 8px;
}
.cntme:hover{
	transition: 0.5s ease-in-out;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
}
.cntimg{
	padding-top: 15px;
	
	}
.footer
{
	height: 200px;
	width: 100%;
	background: black;
}
.footer h3
{
	font-family: Malgun Gothic;
	color: #fff;
	font-weight: bold;
	text-align:center; 
	padding-top: 20px;
}

.footer p
{
	margin-top: -30px;
	font-family: Malgun Gothic;
	color: #c9c9c9;
	text-align:center; 
	padding-top: 20px;

}
.icons2{
	display: flex;
	margin-left: 900px;
}
.icons2 img{
	width: 25px;
	margin: 25px 5px;
	
}
@media only screen and (max-width: 460px){
	
	
	nav ul li{
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.name{
		font-size: 10px;
	}
	.container p{
		font-size: 30px;
	}
	